sprint_7/desafio/movies.csv filter=lfs diff=lfs merge=lfs -text
sprint_7/desafio/series.csv filter=lfs diff=lfs merge=lfs -text
sprint_8/exercicios/nomes_aleatorios.txt filter=lfs diff=lfs merge=lfs -text
2/testes_de_produção/movies.csv filter=lfs diff=lfs merge=lfs -text
sprint_8/desafio filter=lfs diff=lfs merge=lfs -text
sprint_9/desafio/parte_1/movies_gouped.csv filter=lfs diff=lfs merge=lfs -text
sprint_8/desafio_2/testes_de_produção/movies.csv filter=lfs diff=lfs merge=lfs -text
